<div id="contentmiddle">
	<div class="content">
	</div>
</div><!-- einde contentmiddle -->

<div id="contentbottom">
	<div class="content">
    </div><!--einde content-->
</div><!--einde content v contentbottom-->
