<div id="headertop">
	<div class="content">
		<ul class="lang">
		<li><a class="langa" href="#">nl</a></li>
		<li><a class="langa" href="#">fr</a></li>
		<li><a class="langa" href="#">en</a></li>
		</ul>
	</div><!--einde content-->
</div><!--einde headertop-->